page-berichten {
    .small {
        font-size: 80%;
    }
    .grey {
        color: gray;
    }
    .smallicon {
        font-size: 1.2em;
        margin: 0px !important;
        padding:0px;
    }
    .item-inner {
        margin-left: 12px !important;
    }
}
