page-medicijnen {
    .slidebutton {
    padding: 0 0.6em;
    height: 25px !important;
    font-size: 1.2rem;
    border-color: transparent;
    color: #488aff;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    top: 0px;
    right: 0px;
    }

    .button2 {
        top: 25px;
        right: 0px;
        position: absolute;
    }
    .button3 {
        top: 50px;
        right: 0px;
        position: absolute;
    }
    .button4 {
        top: 75px;
        right: 0px;
        position: absolute;
    }
}
